*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}



body{

background:#0f172a;

color:white;

scroll-behavior:smooth;

}



/* NAVBAR */

.navbar{

position:fixed;

top:0;

left:0;

right:0;

height:80px;

background:
rgba(255,255,255,0.08);

backdrop-filter:
blur(14px);

display:flex;

align-items:center;

z-index:1000;

}



.container{

width:100%;

padding:0 30px;

display:flex;

justify-content:space-between;

align-items:center;

}



.brand{

font-size:30px;

font-weight:bold;

}



.toggle{

display:none;

font-size:32px;

cursor:pointer;

}



.nav-links{

display:flex;

gap:12px;

}



.nav-links a{

color:white;

text-decoration:none;

padding:10px 16px;

border-radius:10px;

transition:0.3s;

}



.nav-links a:hover{

background:white;

color:black;

}



/* MOBILE */

@media(max-width:900px){

.toggle{

display:block;

}

.nav-links{

display:none;

position:absolute;

top:80px;

left:0;

right:0;

background:#111827;

flex-direction:column;

padding:20px;

}

.nav-links.show{

display:flex;

}

}



/* MAIN */

.main{

padding-top:120px;

padding-left:30px;

padding-right:30px;

}



.hero{

background:

linear-gradient(
90deg,
#355cff,
#26c96f
);

padding:40px;

border-radius:20px;

margin-bottom:30px;

}



.card{

padding:30px;

margin-bottom:20px;

border-radius:16px;

background:

rgba(255,255,255,0.08);

backdrop-filter:

blur(10px);

}



input{

padding:12px;

border-radius:10px;

border:none;

width:100%;

}